<md-card>
  <md-card-header>
    <md-card-title>
      <h2>Chat</h2>
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <md-list>
      <md-list-item> User@Domain.com: Hello! </md-list-item>
    </md-list>
  </md-card-content>
  <md-card-actions>
    <textarea mdInput rows="3"></textarea>
    <button md-mini-fab><md-icon>send</md-icon></button>
    <button md-mini-fab><md-icon>attachment</md-icon></button>
    <button md-mini-fab><md-icon>image</md-icon></button>
  </md-card-actions>
</md-card>
