<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Chat</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item> User@Domain.com: Hello! </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <textarea matInput rows="3"></textarea>
    <button mat-mini-fab><mat-icon>send</mat-icon></button>
    <button mat-mini-fab><mat-icon>attachment</mat-icon></button>
    <button mat-mini-fab><mat-icon>image</mat-icon></button>
  </mat-card-actions>
</mat-card>
