<md-toolbar color="primary">
  <span>WebRTC Example App</span>
</md-toolbar>

<div class="container">

  <md-grid-list cols="10" rowHeight="80px">
    <md-grid-tile [colspan]="4">
      <app-logon-form></app-logon-form>
    </md-grid-tile>
    <md-grid-tile [colspan]="4">
      <app-call-form></app-call-form>
    </md-grid-tile>
    <md-grid-tile [colspan]="2"></md-grid-tile>
    <md-grid-tile [rowspan]="6" [colspan]="4">
      <app-video-box [src]="localVideo" [title]="'Local Video'"></app-video-box>
    </md-grid-tile>
    <md-grid-tile [rowspan]="6" [colspan]="4">
      <app-video-box [src]="remoteVideo" [title]="'Remote Video'"></app-video-box>
    </md-grid-tile>
    <md-grid-tile [rowspan]="6" [colspan]="2">
      <app-chat></app-chat>
    </md-grid-tile>
  </md-grid-list>

</div>
